{% extends "default" %}
{% block content_wrapper %}
<article>
      <div class="article col-md-12">
        <div class="col-md-9">
          <header>
                {% if page.category %}
                  <small><i class="fa fa-folder"></i> Categories:</small>
                  {% for category in page.categories %}
                  <a href="/docs/categories/{{ category|url_encode(true) }}"><small>{{ category|capitalize }}</small></a>{% if not loop.last %}, {% endif %}
                  {% endfor %}
                  <br>
                  <small><i class="fa fa-tags"></i> Tags:</small>
                  {% for tag in page.tags %}
                  <a href="/docs/tags/{{ tag|url_encode(true) }}"><small>{{ tag|capitalize }}</small></a>{% if not loop.last %}, {% endif %}
                  {% endfor %}
                  <hr>
                  {% endif %}
              </header>
            <div style="margin-top:15px;">
                {{ page.blocks.content|raw }}
            </div>
        </div>
    </div>
</article>
{% endblock %}
